@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Playfair+Display');

/*https://css-tricks.com/dont-overthink-flexbox-grids/*/
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid .leftside, .flex-grid .rightside {
  flex: 0.5
}

* {
  box-sizing: border-box;
}
.col {
  padding: 20px;
}

.col.nopadding {
  padding: 0;
}

.sidebar.leftside, .sidebar.rightside {
  background-color: #68B04D;
}

.col.center {
  background-color: #1C8A43;
}

.co_content {
  background: darkslategrey url('/images/froghemoth__eric_quigley.png') no-repeat fixed center;
  background-size: cover; /*70%?*/
  background-position: 50% 50%;
  height: 100vh;
  margin-bottom: 60px;
}

.maincontent {
  flex-direction: column;
}

header, footer {
  text-align: center;
}

header.fixed, div.fixed {
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
}

footer.fixed {
  position: fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  height: 60px;
}

footer.co_footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.mainTitle {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: bold;
  padding-bottom: 10px;
}
.secondaryTitle {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 10px;
  line-height: 1.4;
  color: white;
  font-size: 1.3em;
}

.sm-only {
  display:none;
}

.lg-only {
  display: inherit;
}

@media screen and (max-width:640px) {
  .flex-grid .sidebar {
    flex: 0.03
  }

  .col.leftside, .col.rightside {
    display: none;
  }
  .co_content {
    background-size: cover;
  }

  header.fixed {
    position: relative;
    height: inherit;
    margin-top: 40px; /*margin for fixed nav bar*/
  }

  .mainTitle {
    font-size: 2em;
  }

  .secondaryTitle {
      font-size: 1em;
  }

  footer.co_footer {
    font-size: 0.8em;
  }

  .sm-only {
    display: inherit;
  }

  .lg-only {
    display:none;
  }
}

