@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Playfair+Display');
@import url('//cdn-images.mailchimp.com/embedcode/classic-10_7.css');
.mainTitle {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .secondaryTitle {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 10px;
    line-height: 1.4;
    color: white;
    font-size: 1.3em;
  }

.mainContentBackground {
    background: darkslategrey url('/images/froghemoth__eric_quigley.png') no-repeat fixed center;
    background-size: cover; /*70%?*/
    background-position: 50% 50%;
    height: 100%;
}

.mainContent.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

  .headerContent {
      text-align: center;
      padding: 20px;
      background-color: #1C8A43;
  }

  .footerContent {
      text-align: center;
      line-height: 60px; /* If this matches the footer height the text will be perfectly centered */
      background-color: #1C8A43;
  }

  .left, .right {
      background-color: #68B04D;
  }

  .sm-only {
    display:none;
  }
  
  .lg-only {
    display: inherit;
  }

  @media screen and (max-width:640px) {
    .sm-only {
        display: inherit;
      }
    
      .lg-only {
        display:none;
      }
  }

  /*Mail Chimp*/
  #mc_embed_signup h2 {
      padding: 5px;
      margin: 0;
  }

  #mc_embed_signup {
      font-size: 12px;
  }